<footer>
  <div class="footer card clearfix mb-0 text-muted text-center mt-2 py-3">
    <small class="m-0">2023 &copy; <span class="text-primary font-bold">X-PANEL</span> Dashboard</small>
  </div>
</footer>