<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= typeof page !== 'undefined' ? page.title : 'Dashboard' %> - X PANEL</title>

  <link rel="stylesheet" href="/dist/assets/css/main/app.css" />
  <link rel="stylesheet" href="/dist/assets/css/main/app-dark.css" />

  <link rel="stylesheet" href="/dist/assets/css/pages/error.css" />
  <link rel="stylesheet" href="/dist/assets/extensions/choices.js/public/assets/styles/choices.css" />

  <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/logo.png" type="image/png" />

  <link rel="stylesheet" href="/dist/assets/css/shared/iconly.css" />
  <link rel="stylesheet" href="/quill/dist/quill.snow.css">
</head>

<body>
  <script src="/dist/assets/js/initTheme.js"></script>